@using LoanBookDB_ASPNET_MVC_Web_BLL
@model List<Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
        <br />
    }

    if (ViewBag.BookListCount == 0)
    {
        <div class="alert alert-success" role="alert">
            There are no records related with Book Table.
        </div>
        <br />
    }

    @Html.ActionLink("Add New Book", "Add", "Book", null, new { @class = "btn btn-sm btn-primary", @style = "margin:5px" })

    if (ViewBag.BookListCount > 0)
    {
        {
            int line = 0;
            if (ViewBag.Now > 1)
            {
                line += (ViewBag.Now - 1) * ViewBag.PageSize;
            }
            <table class="table table-hover table-striped table-bordered sortable">
                @*<tr>
                        <th>Queue</th>
                        <th>Image</th>
                        <th>Book Name</th>
                        <th>Date Registered</th>
                        <th>Genre</th>
                        <th>Author</th>
                        <th>Operations</th>
                    </tr>*@

                <thead>
                    <tr>
                        <th data-defaultsign="_19" style="cursor: pointer">Line &darr;&uarr;</th>
                        <th>Image</th>
                        <th data-defaultsign="AZ" style="cursor:pointer">Book Name &darr;&uarr;</th>
                        <th data-defaultsign="date" style="cursor:pointer">Date Registered &darr;&uarr;</th>
                        <th data-defaultsign="AZ" style="cursor:pointer">Genre &darr;&uarr;</th>
                        <th data-defaultsign="AZ" style="cursor:pointer">Author &darr;&uarr;</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>

                @foreach (Book item in Model)
                {
                    <tr>
                        <td>@(line += 1) </td>
                        @if (item.ImageLink == null)
                        {

                            <td><img src="~/BookImages/defaultbook.jpg" style="width:65px" /></td>
                        }
                        else
                        {
                            <td><img src="@item.ImageLink" style="width:65px" /></td>
                        }
                        <td class="align-middle">@item.BookName</td>
                        <td>@item.DateRegistered.ToShortDateString()</td>
                        <td>@item.Genre.GenreName</td>
                        <td>@item.Author.AuthorName @item.Author.AuthorSurname</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Book"
                           , new { id = item.Id }
                           , new
                                {
                                    @class = "btn btn-sm btn-warning",
                                    @style = "margin-right:3px"
                                })

                            @Html.ActionLink("Delete", "Delete", "Book"
                         , new { id = item.Id }
                         , new
                              {
                                  @class = "btn btn-sm btn-danger",
                                  @style = "margin-right:3px"
                              })
                        </td>
                    </tr>
                }
            </table>
            <br />
            <div class="row">
                <div class="text-center col-4 offset-4">
                    <ul class="pagination">
                        <li>
                            <a href="@Url.Action("Index", "Book", new { page = ViewBag.Now - 1})" id="pagePrevious">&laquo;</a>
                        </li>
                        @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
                        {
                            <li>
                                <a href="@Url.Action("Index", "Book", new { page = i })">@i</a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Index", "Book", new { page = ViewBag.Now + 1 })" id="pageNext">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    }

}

@section scripts {
    <script>
        var now = @ViewBag.Now;
        var sum = @ViewBag.TotalPages;
        if (now == 1) {
            $("#pagePrevious").removeAttr("href");
        }

        if (now == sum) {
            $("#pageNext").removeAttr("href");
        }
    </script>
}